<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened class="side-nav">
      <mat-toolbar color="primary" class="nav-header">
        Virtual Wardrobe
      </mat-toolbar>
      <mat-nav-list>
        <mat-list-item routerLink="/upload" routerLinkActive="active">
          <mat-icon>cloud_upload</mat-icon>
          <span>Image Upload</span>
        </mat-list-item>
        <mat-list-item routerLink="/categories" routerLinkActive="active">
          <mat-icon>category</mat-icon>
          <span>Categories</span>
        </mat-list-item>
        <mat-list-item routerLink="/calendar" routerLinkActive="active">
          <mat-icon>calendar_today</mat-icon>
          <span>Calendar</span>
        </mat-list-item>
        <mat-list-item routerLink="/settings" routerLinkActive="active">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
  
    <mat-drawer-content class="content-area">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>